body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.film-posters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 2px black);
}

img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  object-fit: cover;

}

strong {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

p{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 14px;
  margin-left: 14px;
}

.storytelling {

  width: 100%;
  margin-bottom: 2px;
  z-index: 1;
}

.pinocchio-sketch {
  display: inline-block;
  height: 200px;
  z-index: -10;
  opacity: 80%;
  overflow-x: hidden;
  object-fit: contain;
}

 .enlarge-element {
  transition: transform 0.3s ease-in-out;
}

.pincchio-section-container {
  display: flex;
  flex-direction: row;
}

.main-feature-video {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.title-films {
  position: absolute;
  font-size: 18px;
  left: 40px;
  top: 70px;
  z-index: 2;
}

.feature-films {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: white;
  filter: drop-shadow(2px 2px 10px black);
}

footer {
  height: 150px;
  background-color: antiquewhite;
  border-bottom: 10px solid #f3783b;
  z-index: 2;
  
}

/* Social Media Links */
.logo-footer {
  margin-top: 20px;
  height: 50px;
  margin-left: 1rem;
}
.logo-footer:first-child {
  margin-right: auto;
}

.social-links {
  margin-top: 20px;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-right: 40rem;
  margin-top: 10px;
}

.social-links a {
  color: inherit;
  font-size: 2rem;
  margin-top: 10px;
}

.social-links a:hover {
  color: #f3783b;
}

/* Curtain Menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #faf6f6;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 60px;
  color: #f3783b;
}

.btn-open {
  height: 40px;
  width: 40px;
  background-color: #f3783b;
}

/*
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
*/
