* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}


.wish-logo {
  height: 280px;
  position: absolute;
  z-index: 2;
  left: 560px;
  top: 190px;
  filter: drop-shadow(2px 2px 5px black);
}
  
.playing-theaters {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  z-index: 2;
  position: absolute;
  left: 460px;
  top: 700px;
}

.main-poster {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.container {
  position: absolute;
  z-index: 3;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
@media(max-width: 1312px){
  #headline { 
   font-size: 30px;
  }   
}
*/
@media (max-width: 1390px) {
  /* Your CSS styles for this screen width range */
  .container {
    top: 70%;
    left: 40%;
    padding: 20px;
    font-size: 14px;
    transform: translate(-40%, -40%);
  }
}

@media (max-width: 1040px) {
  /* Your CSS styles for this screen width range */
  .container {
    top: 60%;
    left: 30%;
    padding: 20px;
    font-size: 12px;
    transform: translate(-40%, -40%);
  }
}

@media (max-width: 791px) {
  /* Your CSS styles for this screen width range */
  .container {
    top: 55%;
    left: 30%;
    padding: 20px;
    font-size: 12px;
    transform: translate(-40%, -40%);
  }
}
/*
@media (min-width: 430px) {
  .container {
    top: 20%;
    left: 30%;
    font-size: 12px;
  }
}
*/
#headline, #countdown {
  color: white;
  font-family: 'Roboto', sans-serif;
  filter: drop-shadow(2px 2px 5px rgba(12, 28, 54));
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enter-button-trailer:hover {
  background: #f3783b;
  color: black;
}


h1 {
  font-family: 'Roboto', sans-serif;
}  

p {
  font-family: 'Roboto', sans-serif;
  
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 18px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 35px;
}

.form-container {
  margin-top: 20px;
  margin-left: 30px;
}

.stay-in-touch {
  font-weight: bold;
  color: #f3783b;
  margin-bottom: 10px;
}

input {
  width: 20%;
  background-color: rgb(255, 241, 228);
  color: black;
  border: none;
  border-bottom: 2px solid rgb(239, 238, 238);
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 5px;
  padding: 8px 20px 8px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #f3783b;
  color: black;
}

footer {
  height: 150px;
  background-color: antiquewhite;
  border-bottom: 10px solid #f3783b;
  z-index: 2;
}

.footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #081716;
  line-height: 1.5;
}


.logo-footer {
  height: 50px;
  margin-left: 1rem;
}
.logo-footer:first-child {
  margin-right: auto;
}

/* Social Media Links */
.social-links {
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-right: 40rem;
  margin-top: 10px;
}

.social-links a {
  color: inherit;
  font-size: 2rem;
  margin-top: 10px;
}

.social-links a:hover {
  color: #f3783b;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 70%;
  max-width: 700px;
}

#openModal{
  position:absolute;
  margin: 0 auto;
  margin-top: 5px;
  width: 150px;
  padding: 10px 20px 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 4;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#openModal:hover {
  background-color: #f3783b;
  color: black;
}


.close {
  color: #fff;
  display: absolute;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  height: 30px;
  background-color: rgb(239, 156, 0);
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* Curtain Menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #faf6f6;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 60px;
  color: #f3783b;
}

.btn-open {
  height: 40px;
  width: 40px;
  background-color: #f3783b;
}
